@model ProjectsViewModel
@{
	ViewData["Title"] = "Projects";
}

<div id="projects" class="page">
    <div class="page-header">
        <h1>Projects</h1>
        <button type="button" class="btn btn-add" data-type="modal" data-target="#add-project-modal">
            <i class="fa-solid fa-plus"></i>
            <span>Add Project</span>
        </button>
    </div>

    <div class="project-filters">
        <button class="filter-btn btn active" data-status="all">All</button>
        <button class="filter-btn btn" data-status="1">Started</button>
        <button class="filter-btn btn" data-status="2">Completed</button>
        <button class="filter-btn btn" data-status="3">Dormant</button>
    </div>

    <section id="project-list" class="project-list">
        @if (Model.Projects != null && Model.Projects.Any())
        {
            @foreach (var project in Model.Projects)
            {
                @await Html.PartialAsync("ListItems/_ProjectListItemPartial", project)
            }
        }
    </section>

</div>

@await Html.PartialAsync("Modals/_AddProjectModalPartial", Model.AddProjectFormData)
@await Html.PartialAsync("Modals/_EditProjectModalPartial", Model.EditProjectFormData)

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const filterButtons = document.querySelectorAll(".filter-btn");
      const projectItems = document.querySelectorAll(".project.card");

      filterButtons.forEach(button => {
        button.addEventListener("click", () => {
          filterButtons.forEach(btn => btn.classList.remove("active"));
          button.classList.add("active");

          const selectedStatus = button.getAttribute("data-status");

          projectItems.forEach(item => {
            const itemStatus = item.getAttribute("data-status");

            if (selectedStatus === "all" || itemStatus === selectedStatus) {
              item.style.display = "";
            } else {
              item.style.display = "none";
            }
          });
        });
      });
    });
</script>
