@model AddMemberViewModel


<section id="add-member-modal" class="modal">
    <div class="card">
        <div class="card-header">
            <h3>Add Team Member</h3>
            <button data-type="close" data-target="#add-member-modal" class="btn-close"></button>
        </div>
        <div class="card-body">

            <div id="create-errors">
                @* Errors injected by JavaScript will show here *@
            </div>

            <form asp-controller="Members" asp-action="Create" method="post" enctype="multipart/form-data" novalidate>
                <div class="form-group">
                    <div id="upload-trigger" class="image-preview-container user-image">
                        <img id="image-preview" src="#" alt="image preview" class="hide">
                        <div id="image-preview-icon-container" class="circle circle-gray">
                            <i id="image-preview-icon" class="fa-solid fa-camera"></i>
                        </div>
                    </div>
                    <input asp-for="MemberImage" type="file" id="image-upload" accept="image/*" />
                    <span asp-validation-for="MemberImage" class="text-danger"></span>
                </div>

                <div class="form-horizontal-group">
                    <div class="form-group">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-input" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-input" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-input" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-input" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="JobTitle" class="form-label"></label>
                    <input asp-for="JobTitle" class="form-input" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Address" class="form-label"></label>
                    <input asp-for="Address" class="form-input" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth" class="form-label"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-input" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <button type="submit" class="btn">Create</button>
            </form>


            

        </div>
    </div>
</section>
